{
  "TESTNET_RPC": "https://data-seed-prebsc-1-s1.binance.org:8545/",
  "TESTNET_CHAIN_ID": 97,

  "MAINNET_RPC": "https://bsc-dataseed.binance.org/",
  "MAINNET_CHAIN_ID": 56,

  "CURRENCY_SYMBOL": "BNB",
  "ACCOUNT_INDEX": 0,

  "ETHERSCAN_API_KEY": ""
}
